@import url("fonts/Yekan.ttf");

:root {
    --colorBg: #fff;
    --colorText: #222;
    --colorMain: #01BDBC;
    --colorMainRGB: 1, 189, 188;
    --colorSecondary: #2D365D;
    --colorOrange: #FF8A66;
    --colorOrangeRGB: 255, 138, 102;
    --colorPurple: #514EB6;
    --colorPurpleRGB: 81, 78, 182;
    --colorSecondaryRGB: 45, 54, 93;
    --colorSecondaryDark: #222946;
    --colorGray: #B3BBC7;
    --colorGreen: #49BE78;
    --colorGreenRGB: 73, 190, 120;
    --custom-border: 12px;
    --header-bg: linear-gradient(to right, rgba(241, 241, 241, .64), rgba(var(--colorSecondaryRGB), .6));
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "B Yekan","sans-serif";
}
.header{
    height: 80px;
    width: 80%;
    margin: 3px auto;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0 15px;
    justify-content: space-between;
    background-image: var(--header-bg);
}
.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header-logo i{
    color: white;
    font-size: 20px;
}

.header-logo h3{
    font-weight: 700;
    color: white;
}
.btn-login{
 
    background-color: var(--colorMain);
    border: 0;
    color: white;
    padding: 12px 23px;
    border-radius:10px;
    transition: 0.5s;
}
.btn-login:hover{
    color: white;
    background-color: var(--colorGreen);
}
.fa-cart-plus{
    color: #01BDBC;
    font-size: 20px;
    margin-right: 8px ;
}
.btn-icon{
    padding: 0 12px;
}
/* header section ended */
/* start of nav section */
.navbar{
    height: 40px;
}
ul.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
ul.main li{
    list-style: none;
    display: block;
    
    /* position: relative; */
}
ul.main li a{
    text-decoration: none;
    color: var(--colorText);
}
.i{
    position: relative;
}
.m-nav{
    padding: 3px 20px;
    transition: 5s linear;
    display: none;
    background-color: var(--colorBg);
    position: absolute;   
    z-index: 999;     
}
.m-nav li a{
    /* border-bottom: 1px solid var(--colorGray); */
    display: block;
    padding: 9px 0;
}
#order-ul{
    display: none;
}
/* nav section ended */
/* start of hero section */
.hero{
    height: 40vh;
    width: 100%;
    position: relative;
    background-image: url("img/banner/banner-4.jpg");
    background-size: cover;
    background-position: 30% top;
}
.hero-form{
    position: absolute;
    width: 80%;
    margin: 12px auto;
    height: 80%;
    bottom: -80px;
    left: 10%;
    box-shadow: 10px 10px 9px rgba(0, 0, 0, .2);
    background-color: var(--colorBg);
    border-radius: var(--custom-border);
}
.form-hero{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.form-hero select{
    height: 50px;
    width: 23%;
    outline: 0;
    border: 1px solid var(--colorMain);
    border-radius: var(--custom-border);
}
form-hero select option{
    border-bottom: 5px solid red;
}
.form-hero input{
    height: 50px;
    width: 23%;
    outline: 0;
    border: 1px solid var(--colorMain);
    border-radius: var(--custom-border);
}
.form-hero button{
    padding: 18px 28px;
    border: 0;
    background-color: var(--colorMain);
    border-radius: var(--custom-border);
    color: white;
}
.form-hero button:hover{
    background-color: var(--colorGreen);
    color: white;
}
/* banners section start */
.banners{
    width: 90%;
    margin: 100px auto 0;
}
.banners .big-banner{
    position: relative;
    width: 80%;
    background-image: url("img/banner/banner-3.jpg");
    background-size: cover;
    margin: 0 auto;
    height: 300px;
    border-radius: var(--custom-border);
    animation: banner-changer 15s linear infinite;
}

.banners .big-banner .banner-text{
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
}
@keyframes banner-changer{
 to{
     background-image: url("img/banner/banner-3.jpg");
   }
   from{
    background-image: url("img/banner/banner-2.jpg");
   }
}
.banners .small-banners{
    width: 80%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sm-1{
    position: relative;
    width: 40%;
    height: 200px;
    background-image: url("img/rooms/r-1.jpg");
    background-size: cover;
    border-radius: var(--custom-border);
}
.sm-2{
    position: relative;
    width: 40%;
    border-radius: var(--custom-border);
    height: 200px;
    background-image: url("img/rooms/r-2.jpg");
    background-size: cover;
    
}
.sm-banner-text{
    position: absolute;
    right: 5px;
    top: 20px;
    color: white;
}
/* banner section ended */
/* start of apartments */
.apartments{
    width: 90%;
    margin: 5px auto;
}
.apartments h2{
    color: var(--colorMain);
    font-size: 28px;
}
.aprt-container{
    margin-top: 12px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 8px;
}
.aprt-container .single-aprt{
    width: 250px;
    border-radius: 4px;
    height: fit-content;
    padding-bottom: 10px;
    border-radius: var(--custom-border);
}
.aprt-container .single-aprt:hover{
    box-shadow: 10px 10px 9px rgba(0, 0, 0, .2);
}
.aprt-container .single-aprt img{
    width: 100%;
    margin: 2px auto;
    height: 200px;
    border-radius: var(--custom-border);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.aprt-container .single-aprt .aprt-text{
    padding-right: 12px;
}
.aprt-container .single-aprt .aprt-text h3{
    font-size: 25px;
    font-weight: 500;
}
.fa-star{
    color: gold;
}
/*  */
.r{
    width: 95%;

    margin: 12px auto;
    display: grid;
    height: 400px;
    
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
}
.p {
    background-size: cover;
    padding: 12px 30px;
    background-image: url("img/banner/banner-1.png");
    background-color: var(--colorMain);
    color: white;
    border-radius: var(--custom-border);
    /* background-image: linear-gradient(to right, transparent 70%, var(--colorMain)); */
}
.q{

    /* gap: 5px; */
    border-radius: 12px;

}
.m{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.q img{
    height: 100px;
    width: 100px;
    border-radius: 12px;
}
.q img.centerImg{
    transform: scale(1.7);
}
