@import url("fonts/Yekan.ttf");

:root {
    --colorBg: #fff;
    --colorText: #222;
    --colorMain: #01BDBC;
    --colorMainRGB: 1, 189, 188;
    --colorSecondary: #2D365D;
    --colorOrange: #FF8A66;
    --colorOrangeRGB: 255, 138, 102;
    --colorPurple: #514EB6;
    --colorPurpleRGB: 81, 78, 182;
    --colorSecondaryRGB: 45, 54, 93;
    --colorSecondaryDark: #222946;
    --colorGray: #B3BBC7;
    --advertisement-color: #af1122;
    --colorGreen: #49BE78;
    --colorGreenRGB: 73, 190, 120;
    --custom-border: 12px;
    --header-bg: linear-gradient(to right, rgba(241, 241, 241, .64), rgba(var(--colorSecondaryRGB), .6));
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "B Yekan","sans-serif";
}
.header{
    height: 80px;
    width: 80%;
    margin: 3px auto;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0 15px;
    justify-content: space-between;
    background-image: var(--header-bg);
}
.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header-logo i{
    color: white;
    font-size: 20px;
}

.header-logo h3{
    font-weight: 700;
    color: white;
}
.btn-login{
 
    background-color: var(--colorMain);
    border: 0;
    color: white;
    padding: 12px 23px;
    border-radius:10px;
    transition: 0.5s;
}
.btn-login:hover{
    color: white;
    background-color: var(--colorGreen);
}
.fa-cart-plus{
    color: #01BDBC;
    font-size: 20px;
    margin-right: 8px ;
}
.btn-icon{
    padding: 0 12px;
}
/* header section ended */
/* start of nav section */
.navbar{
    height: 40px;
}
.fa-bars{
    display: none;
}
ul.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
ul.main li{
    list-style: none;
    display: block;
    
    /* position: relative; */
}
ul.main li a{
    text-decoration: none;
    color: var(--colorText);
}
.i{
    position: relative;
}
.m-nav{
    padding: 3px 20px;
    transition: 5s linear;
    display: none;
    background-color: var(--colorBg);
    position: absolute;   
    z-index: 999;     
}
.m-nav li a{
    /* border-bottom: 1px solid var(--colorGray); */
    display: block;
    padding: 9px 0;
}
#order-ul{
    display: none;
}
/* nav section ended */
/* start of hero section */
.hero{
    height: 40vh;
    width: 100%;
    position: relative;
    background-image: url("img/banner/banner-4.jpg");
    background-size: cover;
    background-position: 30% top;
}
.hero-form{
    position: absolute;
    width: 80%;
    margin: 12px auto;
    height: 80%;
    bottom: -80px;
    left: 10%;
    box-shadow: 10px 10px 9px rgba(0, 0, 0, .2);
    background-color: var(--colorBg);
    border-radius: var(--custom-border);
}
.form-hero{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.form-hero select{
    height: 50px;
    width: 23%;
    outline: 0;
    border: 1px solid var(--colorMain);
    border-radius: var(--custom-border);
}
form-hero select option{
    border-bottom: 5px solid red;
}
.form-hero input{
    height: 50px;
    width: 23%;
    outline: 0;
    border: 1px solid var(--colorMain);
    border-radius: var(--custom-border);
}
.form-hero button{
    padding: 18px 28px;
    border: 0;
    background-color: var(--colorMain);
    border-radius: var(--custom-border);
    color: white;
}
.form-hero button:hover{
    background-color: var(--colorGreen);
    color: white;
}
/* banners section start */
.banners{
    width: 90%;
    margin: 100px auto 0;
}
.banners .big-banner{
    position: relative;
    width: 80%;
    background-image: url("img/banner/banner-3.jpg");
    background-size: cover;
    margin: 0 auto;
    height: 300px;
    border-radius: var(--custom-border);
    animation: banner-changer 15s linear infinite;
}

.banners .big-banner .banner-text{
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
}
@keyframes banner-changer{
 to{
     background-image: url("img/banner/banner-3.jpg");
   }
   from{
    background-image: url("img/banner/banner-2.jpg");
   }
}
.banners .small-banners{
    width: 80%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sm-1{
    position: relative;
    width: 40%;
    height: 200px;
    background-image: url("img/rooms/r-1.jpg");
    background-size: cover;
    border-radius: var(--custom-border);
}
.sm-2{
    position: relative;
    width: 40%;
    border-radius: var(--custom-border);
    height: 200px;
    background-image: url("img/rooms/r-2.jpg");
    background-size: cover;
    
}
.sm-banner-text{
    position: absolute;
    right: 5px;
    top: 20px;
    color: white;
}
/* banner section ended */
/* start of apartments */
.apartments{
    width: 90%;
    margin: 5px auto;
}
.apartments h2{
    color: var(--colorMain);
    font-size: 28px;
}
.aprt-container{
    margin-top: 12px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 8px;
}
.aprt-container .single-aprt{
    width: 250px;
    border-radius: 4px;
    height: fit-content;
    padding-bottom: 10px;
    border-radius: var(--custom-border);
}
.aprt-container .single-aprt:hover{
    box-shadow: 10px 10px 9px rgba(0, 0, 0, .2);
}
.aprt-container .single-aprt img{
    width: 100%;
    margin: 2px auto;
    height: 200px;
    border-radius: var(--custom-border);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.aprt-container .single-aprt .aprt-text{
    padding-right: 12px;
}
.aprt-container .single-aprt .aprt-text h3{
    font-size: 25px;
    font-weight: 500;
}
.fa-star{
    color: gold;
}
.pagination{
    text-align: center;
}
.pagination button{
    height: 40px;
    width: 40px;
    border: 0;
    background-color: var(--colorMain);
    border-radius: 5px;
    color: white;
    line-height: 40px;
}
/* apartement section ended */
/* advertisement start */
.ad{
    margin: 12px 0;
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
}
.ad-text{
    color: white;
    padding: 12px 20px;
    border-radius: var(--custom-border);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1410' height='545' preserveAspectRatio='none' viewBox='0 0 1410 545'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath2208%26quot%3b)' fill='none'%3e%3ccircle r='37.87' cx='233.93' cy='331.32' fill='url(%26quot%3b%23SvgjsLinearGradient2209%26quot%3b)'%3e%3c/circle%3e%3ccircle r='30.88' cx='1318.6' cy='48.16' fill='url(%26quot%3b%23SvgjsLinearGradient2210%26quot%3b)'%3e%3c/circle%3e%3ccircle r='47.17' cx='417.29' cy='315.74' fill='url(%26quot%3b%23SvgjsLinearGradient2211%26quot%3b)'%3e%3c/circle%3e%3ccircle r='23.37' cx='1228.38' cy='305.59' fill='url(%26quot%3b%23SvgjsLinearGradient2212%26quot%3b)'%3e%3c/circle%3e%3ccircle r='26.945' cx='93.11' cy='451.11' fill='url(%26quot%3b%23SvgjsLinearGradient2213%26quot%3b)'%3e%3c/circle%3e%3ccircle r='31.285' cx='1374.93' cy='104.08' fill='url(%26quot%3b%23SvgjsLinearGradient2214%26quot%3b)'%3e%3c/circle%3e%3ccircle r='15.885' cx='308.67' cy='270.99' fill='url(%26quot%3b%23SvgjsLinearGradient2215%26quot%3b)'%3e%3c/circle%3e%3ccircle r='33.695' cx='1100.09' cy='373.03' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='27.735' cx='249.39' cy='176.06' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='51.28' cx='508.06' cy='426.83' fill='url(%26quot%3b%23SvgjsLinearGradient2216%26quot%3b)'%3e%3c/circle%3e%3ccircle r='34.865' cx='836.41' cy='538.85' fill='url(%26quot%3b%23SvgjsLinearGradient2217%26quot%3b)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath2208'%3e%3crect width='1410' height='545' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='158.19' y1='331.32' x2='309.66999999999996' y2='331.32' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2209'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1256.84' y1='48.16' x2='1380.36' y2='48.16' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2210'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(70%2c 99%2c 135%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='322.95000000000005' y1='315.74' x2='511.63000000000005' y2='315.74' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2211'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1181.64' y1='305.59' x2='1275.1200000000001' y2='305.59' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2212'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='39.22' y1='451.11' x2='147' y2='451.11' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2213'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1312.3600000000001' y1='104.08' x2='1437.5000000000002' y2='104.08' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2214'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='276.90000000000003' y1='270.99' x2='340.44000000000005' y2='270.99' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2215'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='405.5' y1='426.83' x2='610.62' y2='426.83' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2216'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='766.68' y1='538.85' x2='906.14' y2='538.85' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2217'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(70%2c 99%2c 135%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    
    background-color: var(--advertisement-color);
    background-size: cover;
}
.awards{
    padding: 12px;
}
.award-img{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.award-img img{
    width: 150px;
    height: 150px;
    border-radius: var(--custom-border);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .1);
}
img.center-award{
    transform: scale(1.4);

}
footer{
    display: flex;
    background-color: var(--colorText);
    color: white;
    padding: 12px 20px;
    justify-content: space-between;
}
footer div ul{
    display: block;
}
footer div ul li{
    list-style: none;
}
footer div ul li a {
    color: white;
    font-size: clamp(14px,16px,20px);
    text-decoration: none;
}
.social-media-f{
    display: flex;
    height: 100%;
    align-items: center;
}
.social-media-f li a{
    padding: 0 20px;
    font-size: 20px;
}
.social-media-f li a i{
    transition: 2s;
}
.social-media-f li a i:hover{
    transform: rotateY(360deg);
    color: var(--colorMain);
}
.footer-info-text{
    width: 30%;
}







/* media query */
/* mobile */
@media (max-width:500px){

}
/* tablet */
@media (max-width: 768px){
    ul.main {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    ul.main li {
        list-style: none;
        display: block;
        /* position: relative; */
    }
    .fa-bars{
        display: block;
    }
}